Repository Jessie-jzn/react-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --cache --fix

feat: pre-commit优化
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
Due: prettier --write, eslint --cache --fix

feat: pre-commit优化
  .husky/commit-msg
Due: none

feat: pre-commit优化
  .lintstagedrc.json
Due: prettier --write

feat: pre-commit优化
  lint-staged.config.js
Due: prettier --write, eslint --cache --fix

feat: pre-commit优化
  dist/index.html
  dist/main.1f421e18.css
  dist/main.1f421e18.js
  dist/main.2f1f21a2.js
  dist/runtime~main.6e071f90.js
Due: prettier --write, eslint --cache --fix

feat: pre-commit优化
  src/index.js
Due: prettier --write, eslint --cache --fix

feat: pre-commit优化
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: pre-commit优化
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
Due: prettier --write, eslint --cache --fix

feature: 新增规则
  commitlint.config.js
Due: prettier --write, eslint --cache --fix

feature: 新增react配置
  .babelrc
  README.md
  dist/index.html
  dist/main.2f1f21a2.js
  package-lock.json
  package.json
  src/index.js
  src/index.tsx
  tsconfig.json
  webpack.common.js
  webpack.prod.js
Due: prettier --write, eslint --cache --fix

feature: add
  .npmrc
  README.md
  deploy.sh
  package-lock.json
  package.json
  src/common/style/index.scss
  src/index.tsx
  src/pages/index.tsx
  tsconfig.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: prettier --write, eslint --cache --fix

feature: add
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.js)) or (any of: *.tsx)) or (any of: *.{json,md,yml,css})
  eslint --fix: any of: *.ts
  eslint --cache --fix: (any of: *.js) or (any of: *.tsx)
